@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');



:root{
  --black: #0a0a0a;
  --white: #f1f1f1;
  --accent: #c202f1;
  --light: #d2d2d2;
  --dark: #28292c;
}

html, body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--white);
  color: var(--black);
  transition-duration: 500ms;
  font-family: "Didact Gothic", sans-serif;
}

body.dark{
  background: var(--dark);
  color: var(--white);
}

.container{
  margin: 0 5vw;
  padding: 1.5vh 3vw;
  background: var(--light);
  border-radius: .5vw;
}

body.dark .container{
  background: var(--black);
}

main{
  margin: 1vh 0;
  height: 82vh;
  width: 100%;
  overflow-y: scroll;
  position: relative;
}

main::-webkit-scrollbar {
  position: absolute;
  width: .1vw;
  border-radius: .5vw; 
}
main::-webkit-scrollbar-track {
  background: var(--white);        
}
main::-webkit-scrollbar-thumb {
  background-color: var(--white);    
  border-radius: .5vw;       
}

body.dark main::-webkit-scrollbar-track{
  background: var(--dark);     
}

body.dark 
main::-webkit-scrollbar-thumb {
  background-color: var(--dark);  
}